<div class="element-bg-img"><img *ngIf="pickedPlace" [src]="pickedPlace.img" alt="" class="img-responsive"> </div>
<div class="element-left-bottom">
  <div class="state-panel">
    <ul *ngIf="states">
      <li *ngFor="let state of states" (click)="pickState(state)">{{state}}</li>
    </ul>
  </div>
  <div class="village">
    <h3 *ngIf="pickedState">Places of {{pickedState}}</h3>
    <span class="line"> </span>
    <div *ngIf="pickedState" class="activity-box">

      <div class="scrollbar" id="scrollbar">

        <div *ngFor="let place of places | filter:{key:'state', value: pickedState}" (click)="pickPlace(place)"
          class="activity-row">

          <div class="activity-desc">
            <h5>{{place.social_info.title}}</h5>
            <p *ngFor="let line of place.address.split(', ')">{{line}}</p>
            <h6>Tel:+{{place.phone}}</h6>
          </div>

          <div class="activity-img">
            <ul>
              <li><img [src]='place.img' alt="" /></li>
              <li><img [src]='place.social_info.img' alt="" /></li>
            </ul>
          </div>

          <div class="clear"> </div>
        </div>

      </div>

    </div>
  </div>
</div>