<h1>Hot Weather Widget</h1>
<div class="element">
  <div class="element-left">
    <app-places
    [states]="states"
    [places]="places"
    [pickedState]="pickedState"
    [pickedPlace]="pickedPlace"
    (statePicked)="setState($event)"
    (placePicked)="setPlace($event)">
    </app-places>
  </div>
  <div class="element-right">
    <app-weather [weather]="pickedPlace?.weather"></app-weather>
    <app-twitter [socialInfo]="pickedPlace?.social_info"></app-twitter>
  </div>
</div>
<div class="copyright">
  <p>
    © 2015 Hot Weather Widget. All rights reserved | Design by
    <a href="http://w3layouts.com/" target="_blank">W3layouts</a>
  </p>
</div>